@import url('https://fonts.googleapis.com/css2?family=Esteban&family=Kalam:wght@400;700&display=swap');

/* CSS for Home Page */
#content {
    max-width:1400px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #CBC0AD;
    text-decoration: none;
    font-family: 'Kalam', cursive;
    padding: 35px;    
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;   
    color: #E1B07E;
}
/* #hero-msg h4 {
    
} */
.button-box {
    text-align: center;
}
main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);       
}
body {
    background-color: #fcfbfb;
    font-family: 'Kalam', cursive;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header {
    background-color: #361D2E;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: #E1B07E;
    color: white;
}
h4 {
    color:black;
}
.book {
    background-color: #E1B07E;
    color: #361D2E;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    grid-column: 2/3;
    grid-row: 3/4;
}
.book:hover {
    background-color:#CBC0AD;
    color: white;
}
.home-title {
    color: white;
    font-family: 'Esteban', serif;
    font-size: 2em;
    margin-top: 10px;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-top: 500px;
    text-align: left;
    justify-content: left;
}
#hero-img {
    width: 100%;
}
.home-headline-1, .home-headline-2, .home-headline-3, .home-headline-4 {
    
    text-align: center;
    color: black;
    font-family: 'Esteban', serif;
    font-size: 2em;
    /* margin-top: 10px; */
}
.service-img-1{
    grid-column: 2/4;
    grid-row: 8/10;
}
.service-img-2{
    grid-column: 5/7;
    grid-row: 8/10;
}
.service-img-3{
    grid-column: 8/10;
    grid-row: 8/10;
}
.welcome, .services, .accra, .gallery {
    margin:  0;
    padding: 35px;
}
.service-img-1, .service-img-2, .service-img-3 {
    justify-content: center;
    align-content: center;
    border: 10px solid #F9E9EC;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
    margin: 200px 0
} 
.service-img-1:hover,.service-img-1:hover, .service-img-1:hover {
    opacity: .6;
    transform: scale(1.1);
}
.welcome {
    grid-column: 3/9;
    grid-row: 2/4;
}
.services {
    grid-column: 3/9;
    grid-row: 5/8;
}
.accra  {
    grid-column: 3/9;
    grid-row: 11/13;
}
.gallery {
    grid-column: 3/9;
    grid-row: 14/16;
}
.gallery-img-1, .gallery-img-2, .gallery-img-3, .gallery-img-4, .gallery-img-5, .gallery-img-6 {
    justify-content: center;
    align-content: center;
    border: 10px solid #F9E9EC;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
    height:50%;
    margin: 200px 0
}
.gallery-img-1{
    grid-column: 2/4;
    grid-row: 14/16;
}
.gallery-img-2{
    grid-column: 5/7;
    grid-row: 14/16;
}
.gallery-img-3{
    grid-column: 8/10;
    grid-row: 14/16;
}
.gallery-img-4{
    grid-column: 2/4;
    grid-row: 16/19;
}
.gallery-img-5{
    grid-column: 5/7;
    grid-row: 16/19;
}
.gallery-img-6{
    grid-column: 8/10;
    grid-row: 16/19;
}

footer {
    background-color: #361D2E;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3 {
    color: black;
}
footer a {
    color:black ;
    text-decoration: none;
}
footer a:hover {
    color: #E1B07E;
}
footer p {
    font-size: 1.2em;
}  
footer p a:hover {
    text-decoration: underline;
}    
footer .social img  {
    padding-top: 15px;
} 

/* CSS For About Us Page */
h3 {
    font-size: 20px;
}
.page2-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    
}
.aboutus-title {    
    grid-column: 3/5;
    grid-row: 2/4;
    text-align: left;
    color: black;
    font-family: 'Esteban', serif;
    font-size: 2em;
    margin-top: 10px;
}
.aboutus-headline {    
    grid-column: 3/5;
    grid-row: 5/6;
    text-align: left;
    color: black;
    font-family: 'Esteban', serif;
}
.dreami-title{    
    grid-column: 3/7;
    grid-row: 6/8;
    text-align: left;
    color: black;
    font-family: 'Esteban', serif;
}
.aboutus-info{
    background-color: #CBC0AD;
    border-radius: 20px;
    font-size: 18px;
    padding: 15px 30px;
    text-align: center;
    justify-content: center;    
    align-content: center;


}
.about-us, .dreami {
    margin:  0;
    padding: 35px;
}
.about-us{
    grid-column: 6/11;
    grid-row: 3/4;   
}
.dreami{
    grid-column: 2/9;
    grid-row: 6/8;    
}
.aboutus-img {
    grid-column: 2/5;
    grid-row: 3/4; 
    justify-content: center;
    align-content: center;
    border: 10px solid #F9E9EC;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
    margin: 200px 0
}
.aboutus-img:hover {
    opacity: .6;
    transform: scale(1.1);

}
/* CSS For Rooms Page */

li {
    display: list-item;
    text-align: left;
}
.rooms-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.rooms-title{    
    grid-column: 5/8;
    grid-row: 1/2;
    text-align: center;
    color: black;
    font-family: 'Esteban', serif;
    font-size: 2em;
    margin-top: 10px;
}
.type-1,.type-2, .type-3,.type-4  {
    margin:  0;
    padding: 35px;
}  

.type-1{
    grid-column: 6/10;
    grid-row: 3/5;   
}
.type-2{
    grid-column: 6/10;
    grid-row: 6/8;    
}
.type-3{
    grid-column: 6/10;
    grid-row: 9/11;   
}
.type-4{
    grid-column: 6/10;
    grid-row: 12/14;   
}
.room1-img, .room2-img, .room3-img, .room4-img{
    justify-content: center;
    align-content: center;
    border: 10px solid #F9E9EC;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
    margin: 200px 0
}

.room1-img{
    grid-column: 1/4;
    grid-row: 3/5;    
}
.room2-img{
    grid-column: 1/4;
    grid-row: 6/8;
}
.room3-img{
    grid-column: 1/4;
    grid-row: 9/11;    
}
.room4-img{
    grid-column: 1/4;
    grid-row: 12/14;    
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .welcome, .services, .accra { 
        margin: 50px auto;
        width: 60%;
    }
    footer {
        margin-top: 25px;
    }
}